@import "tailwindcss";

@theme {
  --color-main: #0090f0;
  --color-p: #7b7b7b;
  --color-surface: #f3f3f3;
  --color-heading: #253237;
  --color-border-custom: #d6d6d6d5;
  --color-main-hover: #0077cc;
  --navbar-height-md: 136px;
  --navbar-height: 64px;
}
body {
  background-color: white;
  color: var(--color-heading);
  font-family: "Inter", sans-serif;
}

.container-custom {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px 16px;
}

@media (min-width: 768px) {
  .container-custom {
    padding: 16px 24px;
  }
}
@media (min-width: 768px) {
  :root {
    --navbar-height: var(--navbar-height-md);
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: var(--color-main);
}
